.binded-input input[type="text"] {
  border: none;
  padding: 10px 15px;
  background-color: var(--darker-bg-color);
  color: var(--text-color);
  font-size: 16px;
}

.binded-input input[type="text"]:focus {
  outline: none;
  border: none;
}
