@import url(../App.css);

.message {
  display: flex;
  flex-direction: column;
}

.message-text {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  margin: 0;
  margin-bottom: 10px;
  border-radius: 10px;
  width: fit-content;
}

.username {
  display: block;
}
