@import url(../App.css);

.message {
  display: flex;
  flex-direction: column;
}

.message-text {
  background-color: #fff;
  color: black;
  padding: 10px 20px;
  margin: 0;
  margin-bottom: 10px;
  border-radius: 10px;
  width: fit-content;
}

.username {
  display: block;
}
