.message {
  display: flex;
  flex-direction: column;
}

.message-text {
  background-color: var(--primary-color);
  padding: 10px 20px;
  margin: 0;
  margin-bottom: 10px;
  width: fit-content;
  max-width: 300px;
  font-weight: 400;
  box-shadow: var(--x-shadow) 5px 1px -2px var(--dm-text-color);
}

.username {
  display: block;
  font-weight: 600;
  opacity: 0.7;
}
