.message-input-container,
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.message-input-container {
  min-height: 70px;
  color: var(--text-color);
}

.message-input-container span {
  background-color: var(--primary-color);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.message-input-container input[type="text"] {
  padding: 10px 15px;
  background-color: var(--dm-bg-color);
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  outline: none;
  border-bottom: 4px solid var(--dm-bg-color);
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}

.message-input-container input[type="text"]:focus {
  border-radius: 5px;

  border-bottom: 4px solid var(--lm-bg-color);
}

.btn-container button {
  border-radius: 0;
}

.btn-container {
  width: fit-content;
}

.btn-send,
.send-icon {
  transition: all 0.1s;
}

.btn-send:hover .send-icon {
  transform: rotate(-90deg);
}
