#root {
  width: 100%;
}

#root,
.App {
  height: 100%;
}

.App,
.username-input-container,
.main {
  display: flex;
  justify-content: center;
}

.App {
  width: inherit;
  flex-grow: 1;
}

.main {
  width: clamp(300px, 450px, 550px);
  flex-direction: column;
}

.username-input-container label {
  font-weight: bold;
  text-transform: uppercase;
}

.username-input-container label {
  letter-spacing: 2px;
}

.username-input-container {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}
