#root {
  width: 100%;
}

#root,
.App {
  height: 100%;
}

.App,
.username-input-container,
.main {
  display: flex;
  justify-content: center;
}

.App {
  width: inherit;
  flex-grow: 1;
}

.main {
  --main-width: 350px;
  width: var(--main-width);
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, 10%);
  box-shadow: 1px 0 10px 1px rgba(0, 0, 0, 20%);
  z-index: 1;
}

.username-input-container label {
  font-weight: bold;
  text-transform: uppercase;
}

.username-input-container label {
  letter-spacing: 2px;
}

.username-input-container {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}

.chat-logs-visibility-toggle {
  display: none;
}

@media only screen and (max-width: 800px) {
  .main {
    position: absolute;
    left: calc(-1 * var(--main-width));
    transition: all 0.2s;
    height: 100%;
  }
  .show {
    left: 0;
  }

  .chat-logs-visibility-toggle {
    display: block;
  }
}

@media only screen and (max-width: 430px) {
  .show {
    width: 100%;
  }
}
