@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
  --primary-color: #101011;
  --text-color: #edfafa;
  --text-color-inverted: #241224;
  --bg-color: #faf1f1ed;
  --darker-bg-color: #2d2b2b;

  background-color: #1f1e1e;
  color: var(--text-color-inverted);

  margin: 0;

  font-family: "Varela Round", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: #292e2f;
  color: #ccc3b5;
}
::-webkit-scrollbar-thumb {
  background-color: #4b5155;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #616a6f;
}
::-webkit-scrollbar-thumb:active {
  background-color: #4e565a;
}
::-webkit-scrollbar-corner {
  background-color: #121415;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
