@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap");

:root {
  --primary-color: #291d23;
  --primary-color-lighter: #62344a;

  --secondary-color: hsl(333, 57%, 75%);
  --secondary-color-lighter: hsl(333, 78%, 82%);

  --lm-text-color: #221f21;
  --dm-text-color: #fce5ef;

  --lm-bg-color: #faf0f0ed;
  --dm-bg-color: #583c49;

  --delete-color: #ff4545;

  box-sizing: border-box;

  background-color: var(--dm-bg-color);
  color: var(--dm-text-color);

  margin: 0;

  font-family: "Montserrat", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  background-color: var(--primary-color);
  color: #ccc3b5;
}
::-webkit-scrollbar-thumb {
  background-color: var(--dm-bg-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #616a6f;
}
::-webkit-scrollbar-thumb:active {
  background-color: #4e565a;
}
::-webkit-scrollbar-corner {
  background-color: #121415;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--dm-text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

input {
  font-size: 16px;
  font-weight: 400;
}

input::placeholder {
  opacity: 0.6;
  color: var(--dm-text-color);
}

button .xl {
  font-size: 20px;
}
